.bkgd {
  background-image: url("web2.jpg");
  background-repeat: no-repeat; }

.ff {
  font-family: Sofia; }

.top-header {
  display: flex;
  align-items: baseline;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 10px;
  padding-right: 10px; }

.navClass > ul > li {
  list-style-type: none;
  display: inline-flex;
  justify-items: center;
  align-items: baseline;
  position: relative;
  padding: 5px 25px; }

.navClass > ul > li:hover {
  border: 1px solid #3B3B3B;
  border-radius: 2px;
  color: grey; }

.navClass > ul {
  /*background-color:#5E5D5D; */
  color: black;
  margin-top: 20px;
  margin-left: 650px;
  font-size: 20px;
  font-family: sans-serif; }

ul.sub-menu {
  position: absolute;
  background-color: #3B3B3B;
  list-style-type: none;
  margin-top: 30px;
  margin-left: -25px;
  width: 155px;
  padding-left: 0px;
  opacity: 0; }

ul.sub-menu li {
  padding-left: 25px;
  padding-top: 5px;
  padding-bottom: 5px; }

ul.sub-menu li:hover {
  color: #B8DAEF;
  background-color: #656565; }

.navClass li:hover {
  color: white; }

.navClass li:hover .sub-menu {
  z-index: 1;
  opacity: 1; }

#sec1, #sec2 {
  display: flex;
  align-items: baseline;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  font-family: "Times New Roman", Times, serif;
  font-size: 17px;
  line-height: 30px; }

.boo {
  display: flex;
  align-items: baseline;
  flex-direction: row;
  justify-content: space-evenly;
  min-height: 100%;
  font-family: "Roboto";
  color: black;
  margin: 5px;
  /*background:#c4b7a6;*/
  padding: 20px; }
  .boo .container {
    background: white;
    border-radius: 5px;
    box-shadow: 1.5px gray;
    border: 1px solid gainsboro;
    width: 350px;
    height: auto;
    margin: 10px;
    display: flex;
    align-self: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 20px; }

/* Variables */
.content {
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  margin: 100px auto;
  font-size: 4rem; }
  .content button {
    font-size: 2rem;
    background-color: #5E5D5D;
    color: #fff;
    border: none;
    padding: .5rem 2rem;
    transition: all .3s ease;
    cursor: pointer; }
    .content button:hover {
      background-color: #3B3B3B; }

i:hover {
  color: grey; }

.modal {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .3s ease; }
  .modal--hidden {
    display: none; }
  .modal__contents {
    background-color: #fff;
    padding: 2rem 4rem; }
    .modal__contents input, .modal__contents select {
      width: 100%;
      padding: .5rem;
      margin-top: 10px; }
    .modal__contents .submit {
      width: 100%;
      margin-top: 10px;
      padding: .5rem;
      background-color: #5E5D5D;
      color: #fff;
      border: none;
      transition: all .3s ease; }
      .modal__contents .submit:hover {
        background-color: #3B3B3B; }
  .modal__close-bar {
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    margin-right: -2rem;
    margin-top: -1rem; }
    .modal__close-bar #close {
      margin-top: 2rem;
      margin-right: -23rem;
      font-size: 20px; }

footer {
  background-color: grey;
  margin-top: 2em; }

.copyright {
  padding: 3em 0em;
  border-top: 20px solid rgba(255, 255, 255, 0.08);
  text-align: center; }

.copyright p {
  letter-spacing: 1px;
  font-size: 0.90em; }

.copyright a {
  text-decoration: none; }

ul.contact {
  margin: 0;
  padding: 2em 0em 0em 0em;
  list-style: none; }

ul.contact li {
  display: inline-flex;
  padding: 0em 0.10em;
  font-size: 1em; }

ul.contact li a {
  color: black;
  width: 40px;
  height: 40px;
  line-height: 40px;
  align-items: center;
  padding: 0em 1.5em; }

#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: black;
  background: rgba(0, 0, 0, 0.7);
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

#return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

#return-to-top:hover {
  background: rgba(0, 0, 0, 0.9); }

#return-to-top:hover i {
  color: #fff;
  top: 5px; }

#load {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100vh; }
  #load .loader {
    display: flex;
    font-size: 2em; }
    #load .loader .dots {
      display: flex;
      position: relative;
      top: 20px;
      left: -10px;
      width: 100px;
      animation: dots 4s ease infinite 1s; }
      #load .loader .dots div {
        position: relative;
        width: 10px;
        height: 10px;
        margin-right: 10px;
        border-radius: 100%;
        background-color: black; }
        #load .loader .dots div:nth-child(1) {
          width: 0px;
          height: 0px;
          margin: 5px;
          margin-right: 15px;
          animation: show-dot 2s ease-out infinite 0.5s; }
        #load .loader .dots div:nth-child(4) {
          background-color: transparent;
          animation: dot-fall-left 4s linear infinite 1s; }
          #load .loader .dots div:nth-child(4):before {
            position: absolute;
            width: 10px;
            height: 10px;
            margin-right: 10px;
            border-radius: 100%;
            background-color: black;
            content: '';
            animation: dot-fall-top 4s cubic-bezier(0.46, 0.02, 0.94, 0.54) infinite 1s; }

@keyframes dots {
  0% {
    left: -10px; }
  20%,100% {
    left: 10px; } }
@keyframes show-dot {
  0%,20% {
    width: 0px;
    height: 0px;
    margin: 5px;
    margin-right: 15px; }
  30%,100% {
    width: 10px;
    height: 10px;
    margin: 0px;
    margin-right: 10px; } }
@keyframes dot-fall-left {
  0%, 5% {
    left: 0px; }
  100% {
    left: 200px; } }
@keyframes dot-fall-top {
  0%, 5% {
    top: 0px; }
  30%,100% {
    top: 50vh; } }
.menu-icon {
  display: none; }

@media only screen and (max-width: 698px) {
  body {
    width: 100%; }

  .modal__close-bar #close {
    margin-top: 3rem;
    margin-right: -7rem;
    font-size: 20px; }

  .menu-icon {
    display: flex; }

  .navClass {
    display: none; }

  .boo .container {
    width: 250px; } }

/*# sourceMappingURL=style.css.map */
